.form {
  background-image: linear-gradient(110deg,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 50%),
    url("../../assets/images/formBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.form-custom {
  margin-bottom: 25px;
  position: relative;
}

.inner-from {
  width: 50%;
}

.form-custom label,
.form-custom input {
  display: block;
}

.form-custom input {
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: white;
  width: 80%;
  border-bottom: 3px solid transparent;
  font-family: "Lato", sans-serif;
  box-shadow: 0 0 10px rgb(153, 153, 153) inset;
}

.form-custom input:focus {
  box-shadow: 0 0 10px rgb(153, 153, 153) inset;
}

.form-custom input:focus:valid {
  border-bottom: 3px solid green;
}

.form-custom input:focus:not(:valid) {
  border-bottom: 3px solid orangered;
}

.form-custom label {
  position: absolute;
  top: -18px;
  left: 0px;
  font-size: 13px;
  font-weight: bold;
  color: gray;
  transition: 0.3s;
}

.form-custom input:placeholder-shown:not(:focus)+label {
  opacity: 0;
  visibility: hidden;
  top: 20px;
}

.password-box {
  display: flex;
  align-items: center;
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  left: 73%;
}

@media (max-width: 992px) {
  .custom-form {
    width: 100%;
  }

  .form {
    background-image: linear-gradient(110deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%),
      url("../../assets/images/formBG.jpg");
  }

  .inner-from,
  .form-custom input {
    width: 100%;
  }

  .password-toggle-icon {
    left: 93%;
  }
}