/* global rules */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-100 {
  height: 100vh;
}

.container {
  margin: 0px auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .col-12 {
  width: 100%;
}

.row .col-6 {
  width: 50%;
}